*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0;}
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
    background: #1c2432;
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 20px;
}

svg:not(:root) {
    overflow: hidden;
}

#skrollr-body {
    height:100%;
    overflow:visible;
    position:relative;
}

.li-main {
	width: 100%;
}

.li-header {
	height: 5em;
	width: 100%;
	padding: 2em;
}

.li-body {
	width: 100%;
	padding: 1em 0.2em;
}

.li-box {
	position: relative;
	width: 100%;
	height: 10em;
	background: #fff;
	margin: 0.5em 0em;
	border-radius: 2px;
	overflow: hidden;
    cursor: pointer;
}

.li-box-img {
	height: 100vh;
    cursor: pointer;
    //width: 100%;
}

/**********************   Over Layout CSS     ***********************/
.li-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: rgba(255, 255, 255, 0);
    -webkit-transition: background 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transition: background 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.li-overlay.show-content {
    background: #1c2432;
    pointer-events: auto;
}

.li-over-content {
    position: absolute;
    z-index: 10;
    overflow: hidden;
    -webkit-transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms, height 0.4s;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms, height 0.4s;
}

.li-over-image {
    position: absolute;
    top: 0;
    left: 0;
    //width: 100%;
    z-index: 8;
    height: 100vh;
    transform: translate3d(-35%, -20%, 0);
    -webkit-transform: translate3d(-35%, -20%, 0);
}

.li-over-text {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 70vh;
    opacity: 0;
    background: #fff;
    padding: 2em 3em;
    cursor: pointer;
}

.show-content { 
    .li-over-text {
        opacity: 1;
        -webkit-transition: transform 1.7s cubic-bezier(0, 0.9, 0.53, 1) 0ms;
        transition: transform 1.7s cubic-bezier(0, 0.9, 0.53, 1) 0ms;
    }
    .li-over-content {
        -webkit-transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1) 0ms, height 300ms ease-out 0ms;
        transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1) 0ms, height 300ms ease-out 0ms;
    }
}

.li-over-image,
.li-bar-indicoter {
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
} 

.li-over-bar {
    position: fixed;
    bottom: 25px;
    left: 10px;
    right: 10px;
    height: 3px;
    z-index: 9;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.li-bar-indicoter {
    background-color: rgba(255,255,255,0.8);
    height: 3px;
    position: absolute;
    border-radius: 10px;
}

/******************  Use span svg *******************/
#li-svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
}

.li-path {
    fill: #2E65A7;
}






